/* .btn-primary-home2 {
    color: #fff;
    background-color: #00d8e7 !important;
    border-color: #00d8e7 !important;
    width:100%;
    margin-right: 5px;
    align-content: center;
} */
.lead-font2{
float: left;
font-size: 15px;

}

.btn-primary-home2 {
    color: #fff;
    background-color: #00d8e7 !important;
    border-color: #00d8e7 !important;
    width:100%;
    align-content: center;
}