.tagline{
    margin-top: auto;
    /* float:right; */
    margin-bottom:auto;
    text-align: right;
    flex-wrap:wrap;
    
}


 .jumbotron{
    margin: auto;
    height:auto;
} 

.container{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.logo-size {
    height: 40px;
    width: 60px;
    float: right;
}
